%h1 New encounter

= form_for @encounter, url: 'user_create' do |f|
  - if @encounter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@encounter.errors.count, "error")} prohibited this encounter from being saved:"
      %ul
        - @encounter.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :campaign_id
    = f.select(:campaign_id) do
      - current_user.campaigns.each do |c|
        %option{:value => c.id}= c.name
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save', {:class=>"button"}

