%input#page-info{type: 'hidden', value: 'show_encounter'}

%p#notice= notice

#encounterHeading
  %h2
    = @encounter.name
    = link_to(edit_encounter_encounter_path(@encounter)) do
      %i.fa.fa-pencil
  in campaign
  %select.campaign-name
    - current_user.campaigns.each do |c|
      %option{:value => c.id}= c.name

#encounter-creatures-table.table
  #add-monster-button
    %i.fa.fa-plus-circle.fa-2x
  .tr
    #monster1.monster-row
      .name
        %input{name: "encounter-name", value: "Grum - (Goblin 1)", type: "text/plain", size: 12}
      .attributes
        .health-info-wrapper
          %label.max-HP-label HP:
          %input.current-HP{type:'number', name:'hp', min:'0', max:'999', value:'30'}
          %hr
          %label.max-HP-label Max HP:
          %input.max-HP{type:'number', name:'hp', min:'0', max:'999', value:'30'}
        .attribute-set-wrapper
          %div.attribute
            %label AC:
            %input{type:'number', name:'hp', min:'0', max:'99', value:'12'}
          %div.attribute
            %label Init:
            %input{type:'number', name:'hp', min:'0', max:'99', value:'6'}
      %br
      %div#fieldset-wrapper
        %fieldset.attacks
          %legend
            Attacks
            .add-button
              %i.fa.fa-plus-circle.fa-lg
            .remove-button
              %i.fa.fa-minus-circle.fa-lg
          %table
            %tr
              %th Name
              %th ATK Bonus
              %th Damage/Type
              %th &nbsp
            %tr.attack-row{description:'Weight: 6lbs Properties: Heavy, two-handed'}
              %td
                Dagger
              %td
                %input.attack-bonus{type:'text', id:'attack1_attack_bonus', value:'+5'}
              %td
                %input.attack-damage{type:'text', id:'attack1_damage', value:'2d6 slashing'}
              %td.delete
                %i.fa.fa-minus-circle
                Delete
        %fieldset.spells
          %legend
            Spells
            .add-button
              %i.fa.fa-plus-circle.fa-lg
            .remove-button
              %i.fa.fa-minus-circle.fa-lg
        %fieldset.other
          %legend
            Other
          Notes:
          %textarea{cols: "26", rows: "5"}


= render 'static/creature_search'