%h1
  Editing
  = @campaign.name

= form_for @campaign do |f|
  - if @campaign.errors.any?
    #error_explanation
      %h2= "#{pluralize(@campaign.errors.count, "error")} prohibited this campaign from being saved:"
      %ul
        - @campaign.errors.full_messages.each do |msg|
          %li= msg
  .edit-fieldset
    .field
      = f.label :name
      = f.text_field :name
  .actions
    = f.submit 'Save', {:class=>"button"}
    = link_to 'Back', show_campaign_campaign_path(@campaign), {:class=>"button"}
