%h1 New campaign

= form_for @campaign, url: 'user_create' do |f|
  - if @campaign.errors.any?
    #error_explanation
      %h2= "#{pluralize(@campaign.errors.count, "error")} prohibited this campaign from being saved:"
      %ul
        - @campaign.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'